In [3]:
subjects = []

print("\nEnter the subject names as follows :- \n")
for i in range(10):
    sub = input("Enter a subject name : ")
    subjects.append( sub )

print("\nThus, the subjects entered are as follows :- \n")
print(subjects)

Enter the subject names as follows :-

Enter a subject name :  DF
Enter a subject name :  OS
Enter a subject name :  Python
Enter a subject name :  Java
Enter a subject name :  CN
Enter a subject name :  DS
Enter a subject name :  DAA
Enter a subject name :  COA
Enter a subject name :  DBMS
Enter a subject name :  C++

Thus, the subjects entered are as follows :-

['DF', 'OS', 'Python', 'Java', 'CN', 'DS', 'DAA', 'COA', 'DBMS', 'C++']

In [4]:
elective_subs = ['Management','AD JAVA','TWS','Graphics','Maths']

print("\nThe Elective subjects are :- \n")
print(elective_subs)

The Elective subjects are :-

['Management', 'AD JAVA', 'TWS', 'Graphics', 'Maths']

In [6]:
subjects.extend(elective_subs)

print("\n After extending the list 'Subjects' with 'Elective Subjects' list, the new list")
print(subjects)

 After extending the list 'Subjects' with 'Elective Subjects' list, the new list
['DF', 'OS', 'Python', 'Java', 'CN', 'DS', 'DAA', 'COA', 'DBMS', 'C++', 'Management', 'AD JAVA', 'TWS', 'Graphics', 'Maths']

In [7]:
subjects.append('Java')
subjects.append('Graphics')
subjects.append('Maths')
print(subjects)

['DF', 'OS', 'Python', 'Java', 'CN', 'DS', 'DAA', 'COA', 'DBMS', 'C++', 'Management', 'AD JAVA', 'TWS', 'Graphics', 'Maths', 'Java', 'Graphics', 'Maths']

In [9]:
result = [ idx for idx, item in enumerate(subjects) if item in subjects[:idx] ]

print("Index of duplicate elements are : ")
print(result)

'''
Or othe method is directly finding for duplicate occurence of a particular subject

for i in subjects: if i=="COA":
print(subjects.index(i)) break a=subjects.index(i)

'''

Index of duplicate elements are :
[15, 16, 17]

'\nOr othe method is directly finding for duplicate occurence of a particular subject\n\nfor i in subjects: if i=="COA":\nprint(subjects.index(i)) break a=subjects.index(i)\n\n'

In [14]:
subject1 = []
for i in subjects:
    if i not in subject1:
        subject1.append(i)

print("\nSubjects list after removing duplicates using the second method:")
print(subject1)

Subjects list after removing duplicates using the second method:
['DF', 'OS', 'Python', 'Java', 'CN', 'DS', 'DAA', 'COA', 'DBMS', 'C++', 'Management', 'AD JAVA', 'TWS', 'Graphics', 'Maths']

In [16]:
def remove_range(i1,i2):
    del(subjects[i1:i2])

remove_range(1,2)
print("\nAfter removing elements from the list using rmove_range() function, the new list is given as:- ")
print(subjects)

After removing elements from the list using rmove_range() function, the new list is given as:-
['DF', 'Python', 'Java', 'CN', 'DS', 'DAA', 'COA', 'DBMS', 'C++', 'Management', 'AD JAVA', 'TWS', 'Graphics', 'Maths', 'Java', 'Graphics', 'Maths']

In [17]:
subjects.reverse()
print("After reversing the elements, the list is : ",subjects)
subjects.sort()
print("After sorting the elements, the list is : ",subjects)
subjects.pop(5)
print("After popping the 5th element, the list is : ",subjects)

After reversing the elements, the list is :  ['Maths', 'Graphics', 'Java', 'Maths', 'Graphics', 'TWS', 'AD JAVA', 'Management', 'C++', 'DBMS', 'COA', 'DAA', 'DS', 'CN', 'Java', 'Python', 'DF']
After sorting the elements, the list is :  ['AD JAVA', 'C++', 'CN', 'COA', 'DAA', 'DBMS', 'DF', 'DS', 'Graphics', 'Graphics', 'Java', 'Java', 'Management', 'Maths', 'Maths', 'Python', 'TWS']
After popping the 5th element, the list is :  ['AD JAVA', 'C++', 'CN', 'COA', 'DAA', 'DF', 'DS', 'Graphics', 'Graphics', 'Java', 'Java', 'Management', 'Maths', 'Maths', 'Python', 'TWS']

In [18]:
size = len(subjects)
print("Total number of elements in the list: ",size)

Total number of elements in the list:  16

In [19]:
subjects.clear()
print("\nAfter clearing the subjects list : ")
print(subjects)

After clearing the subjects list :
[]

In [20]:
t1=("a","b","c","d")
print(t1)
print(type(t1))
list1=list(t1)
print(type(list1))
list1.append("herin")
list1.append("darshan")
print(list1)
list1.remove("c")
print(list1)
t1=tuple(list1)
print(type(t1))
print(t1)

('a', 'b', 'c', 'd')
<class 'tuple'>
<class 'list'>
['a', 'b', 'c', 'd', 'herin', 'darshan']
['a', 'b', 'd', 'herin', 'darshan']
<class 'tuple'>
('a', 'b', 'd', 'herin', 'darshan')