In [3]:
student_data = {
    'id_no' : [1,2,3,4,5],
    'name' : ['Herin','Darshan','KD','Jainik','Shivam'],
    'marks' : [37,34,35,38,39]
}
print("\nThe dictionary 'student data' is given as : ")
print(student_data)
print("\nThe keys of dictionary are given as : ")
print(student_data.keys())
print("\nThe values of the dictionary are given as : ")
print(student_data.values())

The dictionary 'student data' is given as :
{'id_no': [1, 2, 3, 4, 5], 'name': ['Herin', 'Darshan', 'KD', 'Jainik', 'Shivam'], 'marks': [37, 34, 35, 38, 39]}

The keys of dictionary are given as :
dict_keys(['id_no', 'name', 'marks'])

The values of the dictionary are given as :
dict_values([[1, 2, 3, 4, 5], ['Herin', 'Darshan', 'KD', 'Jainik', 'Shivam'], [37, 34, 35, 38, 39]])

In [5]:
student_data['id_no'].insert(5, 6)
student_data['name'].insert(5, "Harsh")
student_data['marks'].insert(5, 32 )
print("\nAfter inserting the details of a new student, the 'student data' dictionary is given as :")
print(student_data)

After inserting the details of a new student, the 'student data' dictionary is given as :
{'id_no': [1, 2, 3, 4, 5, 6, 6], 'name': ['Herin', 'Darshan', 'KD', 'Jainik', 'Shivam', 'Harsh', 'Harsh'], 'marks': [37, 34, 35, 38, 39, 32, 32]}

In [6]:
print("Retriving the values ocrresponding to keys : ")
student_data.get('id_no')

Retriving the values ocrresponding to keys :

[1, 2, 3, 4, 5, 6, 6]

In [7]:
def update_detail(k):
    a=student_data.get("id_no")
    b=student_data.get("name")
    c=student_data.get("marks")

    for i in range(len(a)):
        if a[i]==k:
            name=input("Enter a new name: ")
            marks=int(input("Enter the new marks: "))
            b[i]=name
            c[i]=marks
            student_data.update({"id_no":a,"name":b,"marks":c})
            flag = 0


print("\nFor updating the 'stduent data' dictionary, please enter a key number : ")
n = int(input("key = "))
if n > 0 and n <= 6 :
    flag = 1;

if flag==1:
    print(update_detail(n))
    print("\nThus, the updated dictionary is given as : ")
    print(student_data)

else:
    print("Sorry, not valid key number.")

For updating the 'stduent data' dictionary, please enter a key number :

key =  1
Enter a new name:  Harry
Enter the new marks:  20

None

Thus, the updated dictionary is given as :
{'id_no': [1, 2, 3, 4, 5, 6, 6], 'name': ['Harry', 'Darshan', 'KD', 'Jainik', 'Shivam', 'Harsh', 'Harsh'], 'marks': [20, 34, 35, 38, 39, 32, 32]}

In [8]:
list1 = []
for i in student_data.keys(): 
    list1.append(i)
    print(list1)

['id_no']
['id_no', 'name']
['id_no', 'name', 'marks']

In [11]:
list2 = []
for i in student_data.values(): 
    list2.append(i)
    print(list2)

[[1, 2, 3, 4, 5, 6, 6]]
[[1, 2, 3, 4, 5, 6, 6], ['Harry', 'Darshan', 'KD', 'Jainik', 'Shivam', 'Harsh', 'Harsh']]
[[1, 2, 3, 4, 5, 6, 6], ['Harry', 'Darshan', 'KD', 'Jainik', 'Shivam', 'Harsh', 'Harsh'], [20, 34, 35, 38, 39, 32, 32]]

In [12]:
b = student_data.get('name')
print(len(b))

7

In [13]:
student_data.clear();
print(student_data)

{}

In [14]:
import array

exam_data_array = {
'name': ['Herin','Darshan','KD','Jainik','Shivam'],
'score': array.array('i',[35,33,34,23,38]),
'attempts': array.array('i',[2,3,5,6,7]),
'qualify':['y','y','n','n','y']
}

print(exam_data_array)

{'name': ['Herin', 'Darshan', 'KD', 'Jainik', 'Shivam'], 'score': array('i', [35, 33, 34, 23, 38]), 'attempts': array('i', [2, 3, 5, 6, 7]), 'qualify': ['y', 'y', 'n', 'n', 'y']}

In [16]:
l1=['Herin',100]
l2=['Darshan',100]
l3=['KD',100]
l4=['Jainik',50]
l5=['Shivam',40]
data={1:l1, 2:l2, 3:l3, 4:l4, 5:l5}
print(data)

{1: ['Herin', 100], 2: ['Darshan', 100], 3: ['KD', 100], 4: ['Jainik', 50], 5: ['Shivam', 40]}